* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}
body {
  /* background-color: lightpink; */
  /* color: wheat; */

  min-height: 300px;
  /* overflow: scroll; */
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0%;
  background-color: gray;
  /* z-index: 1000; */
}
.border-container {
  padding: 18px 15px;

  align-items: center;
  display: flex;
}

.border {
  display: flex;
  gap: 10px;
}
.border a {
  text-decoration: none;
  font-variant: small-caps;
  color: white;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;

  margin: 2px;
  display: flex;
}
#home-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(image/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 170px;
  width: 100%;
  height: 100%;
  padding-top: 170px;
  z-index: -1;
  filter: blur(30);
}
#home-container .home h4 {
  font-weight: 500;
  color: rgb(245, 94, 165);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}
#home-container .home h1 {
  font-weight: 800;
  color: rgb(245, 94, 165);
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  text-align: center;
  justify-content: center;
  display: flex;
}

.undangan {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.undangan .btnU {
  height: 40px;
  width: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  background-color: gainsboro;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
.container {
  display: flex; /* Menggunakan flexbox */
  justify-content: space-between; /* Membuat jarak antar kolom */
  width: 100%; /* Atur lebar container */
  gap: 80px;
}
.row {
  /* display: flexbox; */
  justify-content: center;
}

#time-container {
  min-height: 100vh;
  flex-box: wrap;
  justify-content: center;
  padding-top: 40px;
  background: url(image/bgimg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.loc-container {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loc {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.loc-img {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#time-container h1 {
  font-weight: 300;
  color: white;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  text-align: center;
}
#time-container h2 {
  /* text-align: start; */
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  color: lightyellow;
  text-align: center;
}
#time-container p {
  color: white;
  font-size: 2rem;
  font-family: monospace;
}
#time-container img {
  width: 400px;
  height: 200px;
  border-radius: 15px;
  background-size: cover;
}

#time-container button {
  display: flex;
  width: 220px;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  background-color: plum;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.times-container .simply-countdown {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

#contact-container {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  padding-top: 80px;
  font-size: 2rem;
  display: flex;
}
#contact-container .quote {
  background-color: rgb(210, 218, 101);
  margin: 5px;
  border-radius: 10px;
}
#contact-container .arti {
  background-color: rgb(210, 218, 101);
  margin: 5px;
  border-radius: 10px;
}
#contact-container #quoteBtn.btnQ {
  background-color: rgb(145, 151, 57);
  margin: 5px;
  border-radius: 10px;
  width: 100px;
  height: 70px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flexbox;
}
.btn-q {
  width: 100%;

  justify-content: center;
  align-items: center;
  display: flex;
}

.top {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  justify-content: center;
  align-items: center;

  display: flex;
}
.top .btn {
  width: 100%;
  height: 100%;
  font-size: 2em;
  cursor: pointer;
  background-color: pink;
  border-radius: 15px;
}

@media (max-height: 992px) {
  html {
    /* display: grid;
        grid-template-columns: (3,1fr); */
    font-size: 80%;
  }
}
@media (max-height: 768px) {
  html {
    /* grid-template-columns: (2,1fr); */
    font-size: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .loc-container,
  .times-container {
    width: 100%;
    text-align: center;
  } */
}
@media (max-height: 576px) {
  html {
    /* grid-template-columns: 1fr; */
    font-size: 60%;
  }
  /* .loc-container,
  .times-container {
    width: 100%;
    text-align: center; */
  /* } */
}
